html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: -100px;
  width: 100%;
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(10px);
  color: #ffffff;
  transition: top 0.3s, background 0.3s;
  z-index: 1000;
  padding: 10px 0;
}

.navbar-scrolled {
  top: 0;
  background: rgba(18, 18, 18, 0.9);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo a {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.navbar-links li {
  margin-left: 30px;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #1c2a3a;
}

.navbar-social {
  display: flex;
  align-items: center;
}

.navbar-social a {
  color: #ffffff;
  margin-left: 20px;
  font-size: 2em;
  transition: color 0.3s;
}

.navbar-social a:hover {
  color: #1c2a3a;
}

.navbar-social a::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(18, 18, 18, 0.9);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 16px;
}

.navbar-social a:hover::after {
  opacity: 1;
  font-size: 16px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(18, 18, 18, 0.9);
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
}

.menu a:hover {
  color: #ffffff;
}

.menu-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.menu-icons a {
  color: #ffffff;
  font-size: 2em;
  transition: color 0.3s;
}

.menu-icons a:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar {
    top: 0;
  }
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
  }

  .navbar-social {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .navbar-logo .name {
    display: none;
  }
}
